h2,h3,h4 {
	font-weight: bold;
	margin: 0px;
	margin-bottom: 10px;
}

hr {
	border-color: rgba(0,0,0,.25);
	border-style: dashed;
}

.loginDiv {
	
	position: relative;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	border: solid rgba(0,144,255,.5) 1px;
	padding: 30px;
	min-height: 300px;
	
}

.loginDiv p {
	margin: 0px;
	padding-top: 15px;
}

.bg-danger {
	padding: 5px 10px;
	margin-bottom: 20px;
	border: dashed rgba(255,0,0,.55) 1px;
}

.bg-danger ul {
	padding: 0px;
	margin-top: 10px;
	padding-left: 20px;
	font-size: 12px;
}

.registerComplete {
	position: relative;
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	border: solid rgba(0,255,0,.5) 1px;
	padding: 30px;
}

.dashboardDiv {
	position: relative;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	width: 50%;
	border: solid rgba(0,144,255,.5) 1px;
	padding: 30px;
	min-height: 400px;
	
}

.dashboardDiv h2 .small {
	padding-top: 8px;	
}

.grayBox {
	border: solid rgba(0,0,0,.25) 1px;
	padding: 10px;	
}

.grayBG {
	padding: 10px;
	background-color: rgba(0,0,0,.10);	
}

.photosDiv {
	position: relative;
	border: solid rgba(0,0,0,.25) 1px;
	padding: 10px;
	text-align: center;
}

.photo {
	display: inline-block;
	margin: 10px;
	width: 100px;
	height: 150px;
	border: solid rgba(0,0,0,.4) 1px;	
}

.photo img {
	width: 100px;
	height: 150px;	
}